{% extends "base.html" %}

{% block import %}
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var long_text;    
    
    var map = null;

    //var lat;
    //var lng;

    function initialize()
    {
        // Initialize the map
                {//lat = position.coords.latitude; lng = position.coords.longitude; 
                map = new Microsoft.Maps.Map(document.getElementById("map_canvas"), {
                        credentials:"AupvjJj-8-1RYDPSIIxnP8IQfomRdF8CJAyhe4KrWMBNS7pdOkUDRBU2OtlBoPu8", 
                        center: new Microsoft.Maps.Location(41.898889, -87.623056),
                        zoom: 7,
                        showScalebar: false,
                        showDashboard: false,
                        mapTypeId: Microsoft.Maps.MapTypeId.road }); 
                        }
    }

    function trafficModuleLoaded()
    {
        var trafficLayer = new Microsoft.Maps.Traffic.TrafficLayer(map);
        trafficLayer.show();
    }
    
    function clickRoute(credentials)
    {
       
	function rectime(secs) {
        var day = Math.floor(secs / 86400)
        var hr = Math.floor(secs / 3600);
        var min = Math.floor((secs - (hr * 3600))/60);
	    var sec = Math.floor(secs - (hr * 3600) - (min * 60));
        var formatted_time = '';
        
        if (day > 0) {
            formatted_time += day + ' day';
            hr -= (day * 24);
            if (day != 1) {
                formatted_time += 's ';
            }
            else {
                formatted_time += ' ';
            }
        }
        if (hr > 0) {
            formatted_time += hr + ' hour';
            if (hr != 1) {
                formatted_time += 's ';
            }
            else {
                formatted_time += ' ';
            }
        }
        if (min > 0) {
            formatted_time += min + ' min';
            if (min != 1) {
                formatted_time += 's';
            }
        }
        if (day == 0 && hr == 0 && min == 0) {
            if (sec == 0) {
                sec = 1;
            }
            formatted_time += sec + ' sec';
            if (sec != 1) {
                formatted_time += 's';
            }
        }
        return formatted_time;
    }
	 
        // below request goes to server 
        $.post("/search", {"from": $("#txtStart").val(), "to": $("#txtEnd").val(), "method": "Transit", "maxSolns": $("#maxSolns").val() }, 
            function(data) {
                $("#TransitDir").text("");
                $("#TransitInfo").text("");
                $("#TransitURL").val("");
                if (data == "Error")
                {
                    $("#TransitInfo").append("<p> Transit is not available for this route</p>");    
                    return;
                }

                for (var i = 0; i < data.a.parts.length; i++) {
                    $("#TransitDir").append( "<p>" + (i+1) + ". " + data.a.parts[i].ins + "</p>");
                }
                $("#TransitInfo").append("<p>Distance: " + parseFloat(data.a.distance).toFixed(2) + " miles" + ",  Time: " + rectime(data.a.time) + "</p>");
                $("#TransitURL").val(data.a.url + "&jsonp=routeCallback")
                $("#TransitCO2").val(data.a.co2)
                $("#TransitCost").val(data.a.cost)
                setTimeout("show_route('0');", 150)
            });
    
        $.post("/search", {"from": $("#txtStart").val(), "to": $("#txtEnd").val(), "method": "Driving", "maxSolns": $("#maxSolns").val() }, 
            function(data) {
                $("#DrivingDir").text("");
                $("#DrivingInfo").text("");
                for (var i = 0; i < data.a.parts.length; i++) {
                    $("#DrivingDir").append("<p>" + (i+1) + ". " + data.a.parts[i].ins + "</p>");
                }
		$("#DrivingInfo").append("<p>Distance: " + parseFloat(data.a.distance).toFixed(2) + " miles" + ",  Time: " + rectime(data.a.time) + "</p>");
                $("#DrivingURL").val(data.a.url + "&jsonp=routeCallback")
                $("#DrivingCO2").val(data.a.co2)
                $("#DrivingCost").val(data.a.cost)
            });
    
        $.post("/search", {"from": $("#txtStart").val(), "to": $("#txtEnd").val(), "method": "Walking", "maxSolns": $("#maxSolns").val() }, 
            function(data) {
                $("#WalkingDir").text("");
                $("#WalkingInfo").text("");
                $("#WalkingURL").val("");
                if (data == "Error")
                {
                    $("#WalkingInfo").append("<p> Walking is not available for this route, well not suggested.</p>");    
                    return;
                }
                for (var i = 0; i < data.a.parts.length; i++) {
                    $("#WalkingDir").append("<p>" + (i+1) + ". " + data.a.parts[i].ins + "</p>");
                }
		$("#WalkingInfo").append("<p>Distance: " + parseFloat(data.a.distance).toFixed(2) + " miles" + ",  Time: " + rectime(data.a.time) + "</p>");
                $("#WalkingURL").val(data.a.url + "&jsonp=routeCallback")
                $("#WalkingCO2").val(data.a.co2)
                $("#WalkingCost").val(data.a.cost)
            });
        
            $.post("/fetch_locs", 
                function(data) {
                    $("#rec_loc0").children().remove();
                    $("#rec_loc1").children().remove();
                    if (data == "")
                    { 
                        return;
                    }
                    for (var i = 0; i < data.rec.length; i++) {
                        $("#rec_loc0").append('<li><a class=click_start value="' +data.rec[i] + '">' + data.rec[i]+"</a></li>");
                        $("#rec_loc1").append('<li><a class=click_end value="' + data.rec[i] + '">' + data.rec[i]+"</a></li>");
                    } 
                }); 
    }

    function makeRouteRequest(credentials)
    {
        var routeRequest;
        if ($("#TransitTab").attr("class").indexOf("active") >= 0) {
            routeRequest = $("#TransitURL").val();
        }
        if ($("#DrivingTab").attr("class").indexOf("active") >= 0) {
            routeRequest = $("#DrivingURL").val();
        }
        if ($("#WalkingTab").attr("class").indexOf("active") >= 0) {
            routeRequest = $("#WalkingURL").val();
        }
        callRestService(routeRequest);
    }
    
    function routeCallback(result) {
        if (result && result.resourceSets && result.resourceSets.length > 0 &&
                result.resourceSets[0].resources && result.resourceSets[0].resources.length > 0) {
            // Set the map view
            var bbox = result.resourceSets[0].resources[0].bbox;
            var viewBoundaries = Microsoft.Maps.LocationRect.fromLocations(new Microsoft.Maps.Location(bbox[0] , bbox[1]), new Microsoft.Maps.Location(bbox[2], bbox[3]));
            
            map.setView({ bounds: viewBoundaries});
            // Draw the route
            var routeline = result.resourceSets[0].resources[0].routePath.line;
            var routepoints = new Array();
    
            map.entities.clear(); 

            for (var i = 0; i < routeline.coordinates.length; i++) {
                routepoints[i]=new Microsoft.Maps.Location(routeline.coordinates[i][0], routeline.coordinates[i][1]);
            }
            // Draw the route on the map

            var pina = routepoints[0]
            var pinb = routepoints[routepoints.length-1]
            var NewPinA = new Microsoft.Maps.Pushpin(pina, { text: "A" });
            var NewPinB = new Microsoft.Maps.Pushpin(pinb, { text: "B" });
            map.entities.push(NewPinA);
            map.entities.push(NewPinB);

            var routeshape = new Microsoft.Maps.Polyline(routepoints, {strokeColor:new Microsoft.Maps.Color(200,0,0,100)});
            map.entities.push(routeshape);

            var box_content;
            if ($("#ActiveMode").val() == "0")
            {
			if ($("#TransitCO2").val())
			{    
			//Transit
			cost = $("#DrivingCost").val() - $("#TransitCost").val();
			co2 = $("#DrivingCO2").val() - $("#TransitCO2").val();
			co2 = (co2 / 1000);
			$("#cost").val(cost)
			$("#co2").val(co2)
			content = "";
			if (cost > 0) 
			{
			    content = "Saves $" + cost.toFixed(2);
			    if (co2 > 0)
			    {
				content += " and " + co2.toFixed(2) + " kg of CO<sub>2</sub> compared to driving.";
			    }
			    else
			    {
				content += ", but costs an additional " + (-co2).toFixed(2) + " kg of CO<sub>2</sub> compared to driving.";
			    }
			}
			else
			{
			    content = "Costs $" + (-cost).toFixed(2) + " more";
			    if (co2 > 0)
			    {
				content += ", but saves " + co2.toFixed(2) + " kg of CO<sub>2</sub> compared to driving.";
			    }
			    else
			    {
				content += " and " + (-co2).toFixed(2) + " kg of CO<sub>2</sub> compared to driving.";
			    }
			}
			box_content = content;
			}	
            }
            else if ($("#ActiveMode").val() == "1")
            {
                //Driving
                cost = $("#DrivingCost").val() - $("#TransitCost").val();
                co2 = $("#DrivingCO2").val() - $("#TransitCO2").val();
                co2 = (co2 / 1000);
                $("#cost").val("0")
                $("#co2").val("0")
                var content = "";
                if (cost < 0) 
                {
                    content = "Saves $" + (-cost).toFixed(2);
                    if (co2 < 0)
                    {
                        content += " and " + (-co2).toFixed(2) + " kg of CO<sub>2</sub> compared to transit.";
                    }
                    else
                    {
                        content += ", but costs an additional " + co2.toFixed(2) + " kg of CO<sub>2</sub> compared to transit.";
                    }
                }
                else
                {
                    content = "Costs $" + cost.toFixed(2) + " more";
                    if (co2 < 0)
                    {
                        content += ", but saves " + (-co2).toFixed(2) + " kg of CO<sub>2</sub> compared to transit.";
                    }
                    else
                    {
                        content += " and " + co2.toFixed(2) + " kg of CO<sub>2</sub> compared to transit.";
                    }
                }
                box_content = content; 
            }
            else 
            {
                //Walking
                cost = $("#DrivingCost").val() - $("#WalkingCost").val();
                co2 = $("#DrivingCO2").val() - $("#WalkingCO2").val();
                co2 = (co2 / 1000);
                $("#cost").val(cost)
                $("#co2").val(co2)
                var content = "";
                if (cost > 0) 
                {
                    content = "Saves $" + cost.toFixed(2);
                    if (co2 > 0)
                    {
                        content += " and " + co2.toFixed(2) + " kg of CO<sub>2</sub> compared to driving.";
                    }
                    else
                    {
                        content += ", but costs an additional " + co2.toFixed(2) + " kg of CO<sub>2</sub> compared to driving.";
                    }
                }
                else
                {
                    content = "Costs $" + (-cost).toFixed(2) + " more";
                    if (co2 > 0)
                    {
                        content += ", but saves " + co2.toFixed(2) + " kg of CO<sub>2</sub> compared to driving.";
                    }
                    else
                    {
                        content += " and " + (-co2).toFixed(2) + " kg of CO<sub>2</sub> compared to driving.";
                    }
                }
                box_content = content; 
            }

            var infoboxOptions = {showCloseButton: true, zIndex: 0, offset:new Microsoft.Maps.Point(75,0),
                    showPointer: true, 
                    htmlContent:'<div style="-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 4px 4px 12px #2d81b2; border: 1px solid #2d81b2; -moz-box-shadow: 4px 4px 12px #2d81b2; box-shadow: 4px 4px 12px #2d81b2; background-color: #0065a4; padding: 7px; color: #F3F3F3; text-align: center; width:125px; height:100%;">' + '<div id="info_box">'+ box_content + '</div><a class="btn btn-warning" class="go"> Go! </a><br>'};
            defaultInfobox = new Microsoft.Maps.Infobox(new
                    Microsoft.Maps.Location((bbox[0]+bbox[2])/2.0,
                        (bbox[1]+bbox[3])/2.0), infoboxOptions );    
            Microsoft.Maps.Events.addHandler(defaultInfobox, 'click', hideInfobox);
            map.entities.push(defaultInfobox);
        }
    }

    function hideInfobox(e)
         {
            defaultInfobox.setOptions({ visible: false });
            $.post("/update_savings", {"cost": $("#cost").val(), "co2": $("#co2").val()}, 
                function(data) { });
         }
    
    function callRestService(request) 
    {
        var script = document.createElement("script");
        script.setAttribute("type", "text/javascript");
        script.setAttribute("src", request);
        document.body.appendChild(script);
    }
    
    function update_modal_field(flag)
    {
        $("#name_in_modal").val("");
        if (flag == 0)
        {
            $("#address_in_modal").val( $("#txtStart").val() );
        }
        else
        {
            $("#address_in_modal").val( $("#txtEnd").val() );
        }
    }

    function add_fav()
    {
        name = $("#name_in_modal").val();
        address = $("#address_in_modal").val();
        $.post("/add_fav", {"name": name, "address": address}, 
            function(data) {
                $("#fav_loc0").after('<li><a class=click_start value="'+address+'">'+name+"</a></li>");
                $("#fav_loc1").after('<li><a class=click_end value="'+address+'">'+name+"</a></li>");
            });
    }

    function show_route(var1)
    {
        //initialize();
        $("#ActiveMode").val(var1);
        setTimeout("map.getCredentials(makeRouteRequest);", 150)
    }

    // jQuery fuctions
    $(function () {
        $(".click_start").live("click", function() { 
            $("#txtStart").val( $(this).attr("value") );
        });

        $(".click_end").live("click", function() { 
            $("#txtEnd").val( $(this).attr("value") );
        });
    });

</script>

<style type="text/css" >
    #map_canvas {
        margin: 0;
        padding: 0;
        padding-top: 50px;
        margin-top: 70;
        height: 100%;
    } 
    .margin_add {
        margin-right: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Add Fav Location</h3>
    </div>
    <div class="modal-body">
        <label>Name</label>
        <input style="width:80%;left:10%" id="name_in_modal" type="text" value=""/>
        <label>Address</label>
        <input style="width:80%;left:10%" id="address_in_modal" type="text" value=""/>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" onclick="add_fav()" class="btn btn-primary">Add</a>
        <a href="#" data-dismiss="modal" class="btn">Cancel</a>
    </div>
</div>

<div class="row">
    <div class="span5">
        <input class="span4" id="txtStart" type="text" tabindex="1" value=""/>
        <br class="visible-tablet">
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle margin_add" data-toggle="dropdown" tabindex="5" href="#"><i class=icon-time></i></a>
            <ul id="rec_loc0" class="dropdown-menu">
                {% if rec_loc %}
                {% for loc in rec_loc %}
                <li><a class="click_start" value="{{ loc }}">{{ loc }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div> <!-- end of drop down -->
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle margin_add" data-toggle="dropdown" tabindex="4" href="#"><i class=icon-star></i></a>
            <ul class="dropdown-menu">
                <li><a data-toggle="modal" onclick="update_modal_field(0)" href="#myModal">Add</a></li>
                <li id="fav_loc0" class="divider"></li>
                {% if fav_loc %}
                {% for loc in fav_loc %}
                <li><a class="click_start" value="{{ loc.split(':')[1] }}">{{ loc.split(":")[0] }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div> <!-- end of drop down -->
        <br>
        <br>

        <input class="span4" id="txtEnd" type="text" tabindex="2" value=""/>
        <br class="visible-tablet">
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle margin_add" data-toggle="dropdown" tabindex="7" href="#"><i class=icon-time></i></a>
            <ul id="rec_loc1" class="dropdown-menu">
                {% if rec_loc %}
                {% for loc in rec_loc %}
                <li><a class="click_end" value="{{ loc }}">{{ loc }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div> <!-- end of drop down -->
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle margin_add" data-toggle="dropdown" tabindex="6" href="#"><i class=icon-star></i></a>
            <ul class="dropdown-menu">
                <li><a data-toggle="modal" onclick="update_modal_field(1)" href="#myModal">Add</a></li>
                <li id="fav_loc1" class="divider"></li>
                {% if fav_loc %}
                {% for loc in fav_loc %}
                <li><a class="click_end" value="{{ loc.split(':')[1] }}">{{ loc.split(":")[0] }}</a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div> <!-- end of drop down -->
        <br>

        <div class="btn-toolbar">
            <!--div class="btn-group" data-toggle="buttons-checkbox">
                <button id="transit" class="btn btn-info active" >Transit</button>
                <button id="driving" class="btn btn-info" >Driving</button>
                <button id="walking" class="btn btn-info" >Walking</button>
            </div//-->
            <div class="btn-group">
                <button class="btn btn-warning" tabindex="3" onclick="clickRoute()">Route <i class="icon-road"></i></button>
            </div>
        </div>
        <!--label>Alternative Routes:</label--><input class="span2" id="maxSolns" type="hidden" value=1 />
        <!--button class="btn primary" onclick="showMethod()">Show Method</button-->
        <br>
        <br>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li id="transitRoute" class="active"><a href="#TransitTab" onclick="show_route('0')" data-toggle="tab">Transit</a></li>
                <li id="drivingRoute"><a href="#DrivingTab" onclick="show_route('1')" data-toggle="tab">Driving</a></li>
                <li id="walkingRoute"><a href="#WalkingTab" onclick="show_route('2')" data-toggle="tab">Walking</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="TransitTab">
                    <p id="TransitInfo"></p>
                    <div id="TransitDir"></div>
                </div>
                <div class="tab-pane" id="DrivingTab">
                    <p id="DrivingInfo"></p>
                    <div id="DrivingDir"></div>
                </div>
                <div class="tab-pane" id="WalkingTab">
                    <p id="WalkingInfo"></p>
                    <div id="WalkingDir"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="span7">
        <div id="map_canvas" style="position:relative; width:100%; height:450px"></div>
    </div>

</div>
<input id="TransitURL" type="hidden">
<input id="DrivingURL" type="hidden">
<input id="WalkingURL" type="hidden">
<input id="TransitCO2" type="hidden">
<input id="DrivingCO2" type="hidden">
<input id="WalkingCO2" type="hidden">
<input id="TransitCost" type="hidden">
<input id="DrivingCost" type="hidden">
<input id="WalkingCost" type="hidden">
<input id="ActiveMode" type="hidden">
<input id="cost" type="hidden">
<input id="co2" type="hidden">

<br>
{% endblock %}


