{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
    
    function initialize(){
        $('.carousel').carousel({
            interval: 20000
        })
    }
</script>
<div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
    {% for category, message in messages %}
    <li class="noindent label label-{{category}}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</div>

<div class="visible-tablet">
    <div class="row span10">
        <h1> Green Cents</h1>
        <div id="myCarousel_t" class="carousel slide ">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <!-- biking/walking exercise and saves money -->
                <div class="active item">
                    <img src="static/img/bike_t.jpg" alt="">
                    <div class="carousel-caption">
                        <p style="font-size:16px">
                        Not only are walking and biking great exercise, they are also cheaper.
                        Save money on: gas, car maintenance, parking, and bus/train fares
                        </p>
                    </div>
                </div>
                <!-- do things while on bus or train, let someone else drive -->
                <div class="item">
                    <img src="static/img/rest_t.jpg" alt="">
                    <div class="carousel-caption">
                        <p style="font-size:16px;"> Take the bus or train, and let someone else drive for you!  You can ignore the traffic: sit back and relax, sleep, or catch up on work.  </p>
                    </div>
                </div>
                <!-- larger vehicles use significantly less fuel per person than a car -->
                <div class="item">
                    <img src="static/img/train_t.jpg" alt="">
                    <div class="carousel-caption">
                        <p style="font-size:16px"> Buses or trains use less fuel per person than automobiles. Thus, public transit or carpooling significantly reduces your carbon emissions.</p>
                    </div>
                </div>
                <!-- trains can often be faster than driving, especially during rush hour --> 
                <div class="item">
                    <img src="static/img/traffic_t.jpg" alt="">
                    <div class="carousel-caption">
                        <p style="font-size:16px;"> Trains are unaffected by traffic on the roads.  As a result, traveling by train can often be faster than driving, especially during rush hour.  </p>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel_t" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel_t" data-slide="next">&rsaquo;</a>
        </div>
    </div>

    <div class="row span11">
        <div class="span5">
            <h2>User Rankings</h2>
            <table>
                <tr><th></th><th>&nbsp;</th><th align="left">User</th><th>&nbsp;&nbsp;&nbsp;&nbsp;</th><th align="left">Footprint Reduction</th></tr>
                {% for user in ranked_users: %}
                <tr><td>{{ loop.index }}.</td><td>&nbsp;</td><td>{{user.username}}</td><td>&nbsp;</td><td>{{ (user.carbon / 1000)|round(2) }} Kg CO<sub>2</sub></tr>
                    {% endfor %}
                </table>
            </div>
            <div class="span5">
                <h2>New users</h2>
                </br>
                <table>
                    {% for user in recent_users: %}
                    <tr><td>{{ loop.index }}.</td><td>&nbsp;</td><td>{{user.username}}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div><!-- end tablet -->

<div class="visible-phone">
    <div class="row">
        <h1> Green Cents</h1>
        <div id="myCarousel_p" class="carousel slide ">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <!-- biking/walking exercise and saves money -->
                <div class="active item">
                    <img src="static/img/bike_p.jpg" alt="">
                    <div class="carousel-caption">
                        <p style="font-size:16px">
                        Not only are walking and biking great exercise, they are also cheaper.
                        Save money on: gas, car maintenance, parking, and bus/train fares
                        </p>
                    </div>
                </div>
                <!-- do things while on bus or train, let someone else drive -->
                <div class="item">
                    <img src="static/img/rest_p.jpg" alt="">
                    <div class="carousel-caption">
                        <p style="font-size:16px;"> Take the bus or train, and let someone else drive for you!  You can ignore the traffic: sit back and relax, sleep, or catch up on work.  </p>
                    </div>
                </div>
                <!-- larger vehicles use significantly less fuel per person than a car -->
                <div class="item">
                    <img src="static/img/train_p.jpg" alt="">
                    <div class="carousel-caption">
                        <p style="font-size:16px"> Buses or trains use less fuel per person than automobiles. Thus, public transit or carpooling significantly reduces your carbon emissions.</p>
                    </div>
                </div>
                <!-- trains can often be faster than driving, especially during rush hour --> 
                <div class="item">
                    <img src="static/img/traffic_p.jpg" alt="">
                    <div class="carousel-caption">
                        <p style="font-size:16px;"> Trains are unaffected by traffic on the roads.  As a result, traveling by train can often be faster than driving, especially during rush hour.  </p>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel_p" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel_p" data-slide="next">&rsaquo;</a>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <h2>User Rankings</h2>
            <table>
                <tr><th></th><th>&nbsp;</th><th align="left">User</th><th>&nbsp;&nbsp;&nbsp;&nbsp;</th><th align="left">Footprint Reduction</th></tr>
                {% for user in ranked_users: %}
                <tr><td>{{ loop.index }}.</td><td>&nbsp;</td><td>{{user.username}}</td><td>&nbsp;</td><td>{{ (user.carbon / 1000)|round(2) }} Kg CO<sub>2</sub></tr>
                    {% endfor %}
                </table>
            </div>
            <div class="span4">
                <h2>New users</h2>
                </br>
                <table>
                    {% for user in recent_users: %}
                    <tr><td>{{ loop.index }}.</td><td>&nbsp;</td><td>{{user.username}}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div><!-- end phone -->

<div class="visible-desktop" style="padding-top:0px">
    <div class="row span8 offset2">
        <h1> Green Cents</h1>
        <iframe src="http://www.facebook.com/plugins/like.php?href=http://green-cents.appspot.com/"
                    scrolling="no" frameborder="0"
                            style="border:none; width:450px; height:25px"></iframe>
        <div id="myCarousel_d" class="carousel slide ">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <!-- biking/walking exercise and saves money -->
                <div class="active item">
                    <img src="static/img/bike_d.jpg" alt="">
                    <div class="carousel-caption">
                        <p style="font-size:16px">
                        Not only are walking and biking great exercise, they are also cheaper.</br>
                        Save money on gas, car maintenance, parking, and bus/train fares
                        </p>
                    </div>
                </div>
                <!-- do things while on bus or train, let someone else drive -->
                <div class="item">
                    <img src="static/img/rest_d.jpg" alt="">
                    <div class="carousel-caption">
                        <p style="font-size:16px;"> Take the bus or train, and let someone else drive for you!  You can ignore the traffic: sit back and relax, sleep, or catch up on work.  </p>
                    </div>
                </div>
                <!-- larger vehicles use significantly less fuel per person than a car -->
                <div class="item">
                    <img src="static/img/train_d.jpg" alt="">
                    <div class="carousel-caption">
                        <p style="font-size:16px"> Larger vehicles like buses or trains use less fuel per person than automobiles. Therefore, public transit or carpooling significantly reduces your personal carbon emissions.  </p>
                    </div>
                </div>
                <!-- trains can often be faster than driving, especially during rush hour --> 
                <div class="item">
                    <img src="static/img/traffic_d.jpg" alt="">
                    <div class="carousel-caption">
                        <p style="font-size:16px;"> Trains are unaffected by traffic on the roads.  As a result, traveling by train can often be faster than driving, especially during rush hour.  </p>
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel_d" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel_d" data-slide="next">&rsaquo;</a>
        </div>
    </div>

    <div class="row span9 offset2">
        <div class="span4">
            <h2>User Rankings</h2>
            <table>
                <tr><th></th><th>&nbsp;</th><th align="left">User</th><th>&nbsp;&nbsp;&nbsp;&nbsp;</th><th align="left">Footprint Reduction</th></tr>
                {% for user in ranked_users: %}
                <tr><td>{{ loop.index }}.</td><td>&nbsp;</td><td>{{user.username}}</td><td>&nbsp;</td><td>{{ (user.carbon / 1000)|round(2) }} Kg CO<sub>2</sub></tr>
                    {% endfor %}
                </table>
            </div>
            <div class="span4">
                <h2>New users</h2>
                </br>
                <table>
                    {% for user in recent_users: %}
                    <tr><td>{{ loop.index }}.</td><td>&nbsp;</td><td>{{user.username}}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div><!-- end desktop -->

{% endblock %}
