<html lang ="en">

<head>
  <title>Task Me</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

  <!-- Twitter Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css">

  <!-- Flat UI CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flat-ui.css') }}" type="text/css">

  <!-- Task Me Up CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/task-me-up.css') }}" type="text/css">



  <!-- Fonts -->
  <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Medula+One' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="/static/js/main.js" type="text/javascript"></script>
</head>

<body>
	<div id="header" class="staticbar">
		<div class="pull-left">
			<h1> Task Me Up </h1>
		</div>
		<div class="pull-right">
			<button class="btn btn-info" id="logout">
				logout
			</button>
		</div>
	</div>


	<div id="container" class="span10 offset1">
		<div id="buttons">
			<button class="btn btn-primary" id="addTask">
				<img src="{{ url_for('static', filename='images/icons/Clipboard2@2x.png') }}"/>Add Task
			</button>
			<button class="btn btn-inverse" id="getTask">
				<img src="{{ url_for('static', filename='images/icons/Clipboard@2x.png') }}"/>Give me a Task
			</button>
		</div>
		<div id="newTask">
			<form>
                <div id="isPrivate" class="btn btn-inverse" value="false">public </div>
				<input id="description" class="span6" type="text" name="description" placeholder="feed the dog"/>
				<select id="duration" name="duration">
					<option value="10">10 minutes</option>
					<option value="20">20 minutes</option>
					<option value="30">30 minutes</option>
					<option value="40">40 minutes</option>
					<option value="50">50 minutes</option>
					<option value="60">60 minutes</option>
				</select>
			</form>	
		</div>

		<ul class="span6 tasklist" id="tasks">
		</ul>
	</div>
</body>
    <script src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-switch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flatui-checkbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flatui-radio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/application.js') }}"></script>
    <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '520641341336568', // App ID
                    channelUrl : '//taskmeup.appspot.com/',
                    status     : true, // check login status
                    cookie     : true, // enable cookies to allow the server to access the session
                    xfbml      : true  // parse XFBML
                });
                console.log('init called');

                // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
                // for any authentication related change, such as login, logout or session refresh. This means that
                // whenever someone who was previously logged out tries to log in again, the correct case below 
                // will be handled. 
                FB.Event.subscribe('auth.authResponseChange', function(response) {
                    console.log('response received');
                    console.log(response);
                    // Here we specify what we do with the response anytime this event occurs. 
                    if (response.status === 'connected') {
                        // The response object is returned with a status field that lets the app know the current
                        // login status of the person. In this case, we're handling the situation where they 
                        // have logged in to the app.
                        } else if (response.status === 'not_authorized') {
                        // In this case, the person is logged into Facebook, but not into the app, so we call
                        // FB.login() to prompt them to do so. 
                        // In real-life usage, you wouldn't want to immediately prompt someone to login 
                        // like this, for two reasons:
                        // (1) JavaScript created popup windows are blocked by most browsers unless they 
                        // result from direct interaction from people using the app (such as a mouse click)
                        // (2) it is a bad experience to be continually prompted to login upon page load.
                            FB.login();
                        } else {
                        // In this case, the person is not logged into Facebook, so we call the login() 
                        // function to prompt them to do so. Note that at this stage there is no indication
                        // of whether they are logged into the app. If they aren't then they'll see the Login
                        // dialog right after they log in to Facebook. 
                        // The same caveats as above apply to the FB.login() call here.
                            FB.login();
                        }
                });
            };
            console.log('async init defined');
            // Load the SDK asynchronously
            (function(d){
                var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                ref.parentNode.insertBefore(js, ref);
            }(document));

        </script>
        <script src="//connect.facebook.net/en_US/all.js"></script>

        <script>  getTasks(); </script>
</html>



