<html lang ="en">

<head>
  <title>Circles</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="circles.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="circles.js"></script>
</head>

<body>
	<div id="container">
		<h1 id="title">Task Me Up</h1>

		<div id="buttons">
			<button class="button" id="randomize" onclick="randomize_circles()">
				Add Task
			</button>
			<button class="button" id="randomize" onclick="randomize_circles()">
				Get Task
			</button>
		</div>
		
	</div>
</body>

</html>

