{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <table class="meet">
        <tr><th>Development Team</th></tr>
        <tr>
            <td class="left"><img class="meet left" src="../static/img/team_pics/brian.jpg">
                <b>Brian Lyles</b></br>
                <i>Team leader</i></br>
                Computer Science</br>
                3rd year</br>
                </br>
                <p>"We faced a lot of challenges during the course of this project, but once we got past them my development team stepped up and delivered a working prototype in record time."
            </td>
            <td class="left"><img class="meet left" src="../static/img/team_pics/ruoran.jpg">
                <b>Ruoran Wang</b></br>
                Computer Engineering</br>
                4th year</br>
                </br>
                <p>"It's fun to work with a team."
            </td>
        </tr>
        <tr>
            <td class="right"><img class="meet right" src="../static/img/team_pics/sangwon.jpg">
                <b>Sangwon Moon</b></br>
                Computer Engineering</br>
                3rd year</br>
                </br>
                <p>"This project is my first group project as a transfer student in a foreign country. Even if it was hard to follow my teammates, it was really nice experience for me."</p>
            </td>
            <td class="right"><img class="meet right" src="../static/img/team_pics/evgeni.jpg">
                <b>Evgeni Kirilov</b></br>
                Computer Science</br>
                3rd year</br>
                </br>
                <p>"Working in a team with more than two people requires not only a good amount of communication between the different teams (and even between each team's members), but also a rigid and semi-professional structure to meetings."</p>
            </td>
        </tr>
        <tr>
            <td class="left"><img class="meet left" src="../static/img/team_pics/jason.jpg">
                <b>Jason Blalock</b></br>
                Computer Science</br>
                3rd year</br>
                </br>
                <p>"Collaborating with more experienced developers is a great way to pick up new skills and languages."</p>
            </td>
        </tr>

        <tr><th>Design Team</th></tr>
        
        <tr>
            <td class="right"><img class="meet right" src="../static/img/team_pics/eric.jpg">
                <b>Eric Andoe</b></br>
                <i>Team leader</i></br>
                Computer Engineering</br>
                4th year</br>
                </br>
                <p>"I learned a lot about team integration and management.  It's surprising how much organization goes into being a team leader and communicating with other groups.  When no one in your group is capable of answering a question it's your job to step up to the plate and take the tough questions.  A little graphics design work and application development on the side doesn't hurt either."</p>
            </td>
            <td class="right"><img class="meet right" src="../static/img/team_pics/emmanuel.jpg">
                <b>Emmanuel Klu</b></br>
                Computer Science</br>
                2nd year</br>
                </br>
                <p>"In the real world, things change."</p>
            </td>
        </tr>
        <tr>
            <td class="left"><img class="meet left" src="../static/img/team_pics/kelly.jpg">
                <b>Kelly Castellano</b></br>
                Architecture</br>
                5th year</br>
                </br>
                <p>"Collaborative learning leads to better results since each person works to their own skill sets."</p>
            </td>
            <td class="left"><img class="meet left" src="../static/img/team_pics/michal.jpg">
                <b>Michal Williams</b></br>
                Architecture</br>
                5th year</br>
                </br>
                <p>"I learned how to make complex information user friendly and visually appealling according to standards set up by a client."</p>
            </td>
        </tr>

        <tr><th>Management Team</th></tr>
        
        <tr>
            <td class="right"><img class="meet right" src="../static/img/team_pics/samantha.jpg">
                <b>Samantha Hoskinson</b></br>
                <i>Project Leader</i></br>
                Chemical Engineering</br>
                4th year</br>
                </br>
                <p>"I have learned the difficulties of managing a group of all different majors and giving all groups directions."</p>
            </td>
            <td class="right"><img class="meet right" src="../static/img/team_pics/darya.jpg">
                <b>Darya Ivankina</b></br>
                Finance and Marketing</br>
                4th year</br>
                </br>
                <p>"It was a great opportunity to work within a competitive and diverse group of people that worked as one team. Sharing, discussing, and standing up for ideas were the most challenging parts."</p>
            </td>
        </tr>

        <tr><th>Faculty Advisor</th></tr>
        <tr>
            <td class="left"><img class="meet left" src="../static/img/team_pics/laura.jpg">
                <b>Laura Batson, Ph.D.</b></br>
                Instructor</br>
                Department of Humanities &</br>
                Stuart School of Business</br>
                Illinois Institute of Technology</br>
                </br>
                <p>"IPRO 320: Green Cents is an undergraduate professional project sponsored by Parsons Brinkerhoff.  Our IPRO was challenged with the task of making a mobile transportation application that assists users to take the most cost efficient route and mode of transportation.</p>
                <p>GreenCents was innovated, designed and developed by the students.  Many challenges arose throughout the semester, but the students rallied to develop a working prototype.  The future development goals of Green Cents are to create a working mobile application that is more integrated with local transit authorities."</p>
            </td>
        </tr>
    </table>
    
</div>
{% endblock %}

