{% extends "base.html" %}

{% block content %}

<div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
    {% for category, message in messages %}
    <li class="noindent label label-{{category}}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</div>
<div class="row-fluid">
    <div class="span8">
        <form action="{{ url_for('signup') }}" method="post" accept-charset="utf-8">
            {{ form.csrf_token }}
            <p>
            <label>{{ form.username.label }}</label>

            {{ form.username|safe }}

            {% if form.username.errors %}
            <ul class="errors">
                {% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </p>

            <p>
            <label>{{ form.email.label }}</label>

            {{ form.email|safe }}

            {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </p>

            <p>
            <label>{{ form.passwd.label }}</label>

            {{ form.passwd|safe }}

            {% if form.passwd.errors %}
            <ul class="errors">
                {% for error in form.passwd.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </p>

            <p>
            <label>{{ form.confirm.label }}</label>

            {{ form.confirm|safe }}

            {% if form.confirm.errors %}
            <ul class="errors">
                {% for error in form.confirm.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </p>

            <p>
            <label>{{ form.f_name.label }}</label>

            {{ form.f_name|safe }}

            {% if form.f_name.errors %}
            <ul class="errors">
                {% for error in form.f_name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </p>

            <p>
            <label>{{ form.l_name.label }}</label>

            {{ form.l_name|safe }}

            {% if form.l_name.errors %}
            <ul class="errors">
                {% for error in form.l_name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </p>
            <input class="btn info" type="submit" value="Save Changes"/>
        </form>

    </div>
    <div class="span4">
    </div>
</div>

{% endblock %}
