{% extends "base.html" %}

{% block content %}
<div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
    {% for category, message in messages %}
    <li class="noindent label label-{{category}}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</div>

<div class="row-fluid">
    <div class="span4">
        <p><h1><a href="{{ url_for('user', username=username) }}">{{username}}</a></h1>
        <img src="{{gurl}}" /></p>
    </div>
</div>

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li {% if not settings and not locations %}class="active"{% endif %}><a href="#profile" data-toggle="tab"><i
        class="icon-user"></i> Profile</a></li>
        <li {% if locations %}class="active"{% endif %}><a href="#locations" data-toggle="tab"><i class="icon-flag"></i> Locations</a></li>
        <li {% if settings %}class="active"{% endif %}><a href="#settings" data-toggle="tab"><i class="icon-cog"></i> Settings</a></li>
    </ul>
    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Edit Fav Location</h3>
        </div>
        <div class="modal-body">
            <label>Name</label>
            <input style="width:80%;left:10%" id="update_name" type="text" value=""/>
            <label>Address</label>
            <input style="width:80%;left:10%" id="update_address" type="text" value=""/>
            <input type="hidden" id="old_name" value=""/>
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" id="update_fav" class="btn btn-primary">Update</a>
            <a href="#" data-dismiss="modal" id="delete_fav" class="btn btn-warning">Delete</a>
            <a href="#" data-dismiss="modal" class="btn">Cancel</a>
        </div>
    </div>
    <div class="tab-content">
        <div class={% if not settings and not locations %}"tab-pane active"{% else %}"tab-pane"{% endif %} id="profile">
            <div class="row-fluid">
                <div class="span2">
                    <h3>Your Savings</h3>
                    <p> ${{ '%.2f' % current_user.savings }}</p><h4>Ranking</h4><p> {{ rank_savings }}</p>
                </div>
                <div class="span4">
                    <h3>Your Carbon Footprint Reduction</h3>
                    <p> {{ (current_user.carbon / 1000)|round(2) }} Kg CO<sub>2</sub></p><h4>Ranking</h4><p> {{ rank_co2}}</p>
                </div>
            </div>
        </div>
        <div class={% if locations %}"tab-pane active"{% else %}"tab-pane"{% endif %} id="locations">
            <div class="row-fluid">
                <div class="span8">
                    <h2>Favorite Locations</h2>

                    <table class="table">
                        <thead>
                            <tr>
                                <td><input id="name" style="margin-top:9px" type="text" placeholder="Name of location"></td>
                                <td><input id="address" style="margin-top:9px" type="text" placeholder="Address">   <a class="btn btn-warning" onclick="add_fav()">Add</a></td>
                            </tr>
                        </thead>
                        <tbody id="locs_table">
                            {% for item in fav_loc %}
                            <tr class="update_modal" data-toggle="modal" name="{{ item.split(':')[0] }}" address="{{ item.split(':') [1] }}" href="#myModal">
                                <td class="the_name"><i class="icon-star"></i> {{ item.split(':')[0] }}  &nbsp;&nbsp;&nbsp;</td>
                                <td class="the_address"> {{ item.split(':') [1] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br />
                    <h2>Recent Locations</h2> 
                    {% for item in current_user.rec_loc %}
                    <p><i class="icon-time"></i> {{ item }}</p>    
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class={% if settings %}"tab-pane active"{% else %}"tab-pane"{% endif %} id="settings">
            <div class="row-fluid">
                <div class="span8">
                    <form class="form-horizontal" action="{{ url_for('user', username=username) }}" method="post" accept-charset="utf-8">
                    {{ form.csrf_token }}
                    <fieldset>
                        {% if not form.f_name.errors %}
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">{{ form.f_name.label }}</label>
                            <div class="controls">
                                {% if not form.errors %}
                                {{ form.f_name(value=current_user.f_name)|safe }}
                                {% else %}
                                {{ form.f_name|safe }}
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                        <div class ="control-group error">
                            <label class="control-label" for="inputError">{{ form.f_name.label }}</label>
                            <div class="controls">
                                {{ form.f_name(id='inputError')|safe }}
                                <span class="help-inline">
                                    <ul>
                                        {% for error in form.f_name.errors %}
                                        <li>{{ error }}</li> 
                                        {% endfor %}
                                    </ul>
                                </span>
                             </div>
                        </div>
                        {% endif %}
                        {% if not form.l_name.errors %}
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">{{ form.l_name.label }}</label>
                            <div class="controls">
                                {% if not form.errors %}
                                {{ form.l_name(value=current_user.l_name)|safe }}
                                {% else %}
                                {{ form.l_name|safe }}
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                        <div class ="control-group error">
                            <label class="control-label" for="inputError">{{ form.l_name.label }}</label>
                            <div class="controls">
                                {{ form.l_name(id='errorInput')|safe }}
                                <span class="help-inline">
                                    <ul>
                                        {% for error in form.l_name.errors %}
                                        <li>{{ error }}</li> 
                                        {% endfor %}
                                    </ul>
                                </span>
                             </div>
                        </div>
                        {% endif %}
                        {% if not form.email.errors %}
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">{{ form.email.label }}</label>
                            <div class="controls">
                                {% if not form.errors %}
                                {{ form.email(value=current_user.email)|safe }}
                                {% else %}
                                {{ form.email|safe }}
                                {% endif%}
                            </div>
                        </div>
                        {% else %}
                        <div class ="control-group error">
                            <label class="control-label" for="inputError">{{ form.email.label }}</label>
                            <div class="controls">
                                {{ form.email(id='errorInput')|safe }}
                                <span class="help-inline">
                                    <ul>
                                        {% for error in form.email.errors %}
                                        <li>{{ error }}</li> 
                                        {% endfor %}
                                    </ul>
                                </span>
                             </div>
                        </div>
                        {% endif %}
                        {% if not form.mpg.errors %}
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">{{ form.mpg.label }}</label>
                            <div class="controls">
                                {% if not form.errors %}
                                {{ form.mpg(value=current_user.mpg|round(2))|safe }}
                                {% else %}
                                {{ form.mpg|safe }}
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                        <div class ="control-group error">
                            <label class="control-label" for="inputError">{{ form.mpg.label }}</label>
                            <div class="controls">
                                {{ form.mpg(id='inputError')|safe }}
                                <span class="help-inline">
                                    <ul>
                                        {% for error in form.mpg.errors %}
                                        <li>{{ error }}</li> 
                                        {% endfor %}
                                    </ul>
                                </span>
                             </div>
                        </div>
                        {% endif %}
                        {% if not form.transit_cost.errors %}
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">{{ form.transit_cost.label }}</label>
                            <div class="controls">
                                {% if not form.errors %}
                                {{ form.transit_cost(value='%.2f' % current_user.transit_cost)|safe }}
                                {% else %}
                                {{ form.transit_cost }}
                                {% endif %}
                            </div>
                        </div>
                        {% else %}
                        <div class ="control-group error">
                            <label class="control-label" for="inputError">{{ form.transit_cost.label }}</label>
                            <div class="controls">
                                {{ form.transit_cost(id='inputError')|safe }}
                                <span class="help-inline">
                                    <ul>
                                        {% for error in form.transit_cost.errors %}
                                        <li>{{ error }}</li> 
                                        {% endfor %}
                                    </ul>
                                </span>
                             </div>
                        </div>
                        {% endif %}
                        {% if not form.passwd.errors and not form.confirm.errors %}
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">{{ form.passwd.label }}</label>
                            <div class="controls">
                                {% if not form.errors %}
                                {{ form.passwd|safe }}
                                {% else %}
                                {{ form.passwd }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">{{ form.confirm.label }}</label>
                            <div class="controls">
                                {% if not form.errors %}
                                {{ form.passwd|safe }}
                                {% else %}
                                {{ form.passwd }}
                                {% endif %}
                        </div>
                        {% else %}
                        <div class="control-group error">
                            <label class="control-label" for="inputError">{{ form.passwd.label }}</label>
                            <div class="controls">
                                {{ form.passwd(id='inputError')|safe }}
                                <span class="help-inline">
                                    <ul>
                                        {% for error in form.passwd.errors %}
                                        <li>{{ error }}</li> 
                                        {% endfor %}
                                    </ul>
                                </span>
                             </div>
                         </div>
                         <div class="control-group error">
                             <label class="control-label" for="inputError">{{ form.confirm.label }}</label>
                             <div class="controls">
                                {{ form.confirm(id='inputError')|safe }}
                                <span class="help-inline">
                                    <ul>
                                        {% for error in form.confirm.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </span>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="reset" class="btn">Cancel</button>
                        </div>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
     function initialize()
     {
     }
</script>
<script type="text/javascript">
    function add_fav()
    {
        name = $("#name").val();
        address = $("#address").val();
        $.post("/add_fav", {"name": name, "address": address}, 
            function(data) {
                refresh_favs();
                $("#name").val("");
                $("#address").val("");
            });
    }

    $(".update_modal").click(function() { 
        populate_modal_vars($(this));
    });
    function populate_modal_vars(caller) {
        var name = $(caller).attr("name");
        $("#old_name").val(name);
        $("#update_name").val(name);
        $("#update_address").val($(caller).attr("address"));
    }

    
    function refresh_favs()
    {
        $.post("/fetch_locs", 
            function(data) {
                $("#locs_table").children().remove();
                if (data == "")
                { 
                    return;
                }
                for (var i = 0; i < data.fav.length; i++) {
                $("#locs_table").append('<tr class="update_modal" data-toggle="modal" name="' + data.fav[i]  + '" address="' + data.fav_address[i] + '" href="#myModal"><td class="the_name"><i class="icon-star"></i> ' + data.fav[i] + ' &nbsp;&nbsp;&nbsp;</td><td class="the_address">' + data.fav_address[i] + '</td></tr>');

                }
                $(".update_modal").bind('click', function() {populate_modal_vars($(this));});
            });
        var name = $(this).attr("name");
        $("#old_name").val(name);
        $("#update_name").val(name);
        $("#update_address").val($(this).attr("address"));
    }

    function update_fav()
    {
        var name = $("#update_name").val();
        var address = $("#update_address").val();
        var old_name = $("#old_name").val();
        $.post("/update_fav", {"old_name": old_name, "name": name, "address": address}, 
            function(data) {
                 
            });
    }

    function delete_fav()
    {
        //#old_name is the value in the modal
        var name = $("#old_name").val();
        $.post("/delete_fav", {"name": name}, 
            function(data) {
                 
            });
    }

    $(function () {

       $("#delete_fav").click(function() { 
           var r=confirm("Are you sure you want to delete this location?"); 
           if (r == false)
               return false
           delete_fav();
           refresh_favs();
       });

       $("#update_fav").click(function() { 
           update_fav();
           refresh_favs();
       });

    });

</script>

{% endblock %}
