h1
{
    font-size:200px;
    font-family: Medula One;
}

.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left:-300px;
    margin-top:-100px;
}

.hero-unit {
	max-width: none;
	font-size: 18px;
}

/* Styling for the Static Bar*/
.staticbar h1 {
	font-family: Medula One;
	font-size: 72px;
}

.staticbar{
	background-color: e2e2e2;
	padding: 20px;
	height: 50px;
}

#logout {
	float: right;
}

#container{
	padding-top: 20px;

}

#addTask {
	font-size: 24px;
	margin-right: 5px;
}

#getTask {
	font-size: 24px;
}

#buttons {
	margin-left: auto;
	margin-right: auto;
}
#buttons img {
	max-height: 100px;
	max-width: 100px;
	padding: 10px;
}

.btn-group .btn {
	float: none;
}

.tasklist {
	list-style-type: none;

}

.tasklist li {
	background-color: e2e2e2;
	border-bottom: 1px solid #95a5a6;
	padding: 12px;
}

.tasklist li:hover {
	background-color: bdc3c7;
}

.tasklist li:first-child {
	border-radius: 6px 6px 0px 0px;
}

.tasklist li:last-child {
	border-radius: 0px 0px 6px 6px;
}

.tasklist .description{
	font-weight: 400;
	font-size: 14px;
}

.tasklist .duration{
	color: 27ae60;
}

#gettask {
	display: inline-block;
}
form{
	margin-top: 20px;
	font-size: 14px;
}

form input[type="text"] {
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 0px;
	font-size: 18px;
	height: 38px;
}

form input[type="submit"] {
	font-size: 18px;
	height: 34 px;
	background-color: 1abc9c;
	border-style: none;
}

form input[type="checkbox"] {
	font-size: 14px;
}

